@page
@model BlabberApp.Client.Pages.FeedModel
@{
    ViewData["Title"] = "Feed";
}

<section id="main">
    <h1>Feed</h1>
    <div id="content">
        All the feed content will go here!
    </div>
</section>
